.intro{
    background-color: aquamarine;
    color: black;
}
.obj{
    background-color: bisque;
    color: black;
}
.edu{
    background-color: antiquewhite;
    color: black;
}
.skill{
    background-color: lightgreen;
    color: black;
}
.dec{
    background-color: lightskyblue;
    color: black;
}